* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0px;
}

.navbar-root {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 80px;
    display: flex;
    background-color: #111;
    color: #fff;
}

.navbar-root a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.main-root {
    max-width: 80rem;
    margin: auto;
}

.footer-root {
    margin: auto;
    user-select: none;
    box-sizing: border-box;
    text-align: center;
    color: #f9f9f9;
    background-color: #111;
    padding: 0px 0px 48px 0px;
    border-top: 2px solid #343434;
}

.navbar-left-content {
    position: relative;
    display: flex;
    padding-left: 36px;
    align-items: center;
}

.navbar-center-content {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
}

.navbar-center-content .navbar-outer-logo {
    display: flex;
    height: 80px;
    margin-left: 22px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.navbar-center-content .navbar-main-content-wrapper {
    margin-left: 18px;
    width: 100%;
    height: 80px;
}

.navbar-logo {
    fill: #fff;
    margin-right: 4px;
}

.navbar-main-content-wrapper .navbar-main-content-link-item {
    display: inline-flex;
    position: relative;
    height: 80px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 7.5px 16px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .08em;
    line-height: 120%;
}

.navbar-main-content-wrapper .navbar-main-content-link-item {
    text-decoration: none;
    color: #fff;
    margin-right: 4px;
    transition: all .5s;
}

.navbar-main-content-wrapper .navbar-main-content-link-item:hover {
    border-radius: 6.4px;
    border-bottom: 1px solid #31a56f;
    background-color: #2b2929;
    -webkit-border-radius: 6.4px;
    -moz-border-radius: 6.4px;
    -ms-border-radius: 6.4px;
    -o-border-radius: 6.4px;
}

.navbar-right-content {
    display: flex;
    align-items: center;
    padding-right: 36px;
}

.navbar-right-content .navbar-account .navbar-account-item {
    display: inline-block;
    padding: 0 6px;
}

.navbar-right-content .navbar-account .navbar-btn-login {
    display: inline-block; 
    background: rgb(11, 196, 226);
    padding: 8px 16px;
    border-radius: 6.4px;
    -webkit-border-radius: 6.4px;
    -moz-border-radius: 6.4px;
    -ms-border-radius: 6.4px;
    -o-border-radius: 6.4px;
    color: #fff;
}

.navbar-right-content .navbar-account .navbar-btn {
    display: inline-block;
    background: rgb(11, 196, 226);
    padding: 8px 16px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    color: #111;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .08em;
}

.navbar-right-content .navbar-account .navbar-btn:hover {
    background: rgb(0, 178, 207);
}

.arrow-right-top {
    padding-left: .2rem;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

#main-section_0 a {
    text-decoration: none;
    text-transform: uppercase;
}

.banner {
    box-sizing: border-box;
    position: relative;
    min-height: 31.25rem;
    padding: 3.75rem;
    user-select: none;
}

@media screen and (max-width: 480px) {
  .navbar-main-content-wrapper {
    display: none;
  }
}

.banner-cover {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #3d3838;
}

.banner-cover-center {
    position: relative;
    max-width: 105rem;
    min-height: 31.25rem;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    background-image: url(../images/backgrounds/illo-about-left.png),url(../images/backgrounds/illo-about-right.png);
    background-repeat: no-repeat,no-repeat;
    background-position: 0 0, 100% 0;
    background-size: 40% auto;
    color: #111;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
}

.banner-cover-center:before {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  top: -10px;
  bottom: -10px;
  border: 1px solid #808080;
}

.btn-banner-cover-center {
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 195px;
    height: 56px;
    background-color: rgb(11, 198, 227);
    outline: 0.2px solid #000000;
    outline-offset: 2px;  
    color: #111;
    font-weight: bold;
    margin: .67rem 0;
}

.drop-sub_menus {
    position: relative;
}

.drop-menus {
    position: absolute;
    left: 0;
    top: 80px;
    background-color: #292929;
    box-shadow: 0px 4px 16px 0px rgb(0 0 0 / 20%);
    border-radius: 0 0 2px 2px;
    text-align: left;
    font-size: 13px;
    min-width: 200px;
    display: none;
    border-top: 2px solid #31a56f;
}

.drop-menus .drop-sub_menus .drop-menus {
    left: 100%;
    top: 0;
}

.drop-sub_menus:hover > .drop-menus {
    display: block;
}

.navbar-main-content-link-item .drop-menus li:first-of-type {
    margin-top: 16px !important;
}

.navbar-main-content-link-item .drop-menus li:hover {
    cursor: pointer;
    background-color: rgba(128,128,128,.3);
    border-radius: 6.4px;
}

.navbar-main-content-link-item .drop-item .drop-item-link {
    display: inline-block;
    padding: 8px 16px;
    border: none;
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    text-transform: capitalize;
}

.navbar-main-content-link-item .drop-menus li a {
    text-align: left;
    color: #c7c7c7;
}

.navbar-main-content-link-item ul, .navbar-main-content-link-item ol {
    list-style-type: none;
}

.navbar-main-content-link-item ul, .navbar-main-content-link-item ol, .navbar-main-content-link-item li, .navbar-main-content-link-item p {
    margin: 0;
    padding: 0;
}


/* footer side */
.footer-links {
    user-select: none;
    box-sizing: border-box;
    background: #292929;
    padding: 24px;
    margin: 0;
    color: #7e7e7e;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: .08em;
    text-align: center;
    text-transform: uppercase;
}

.footer-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.footer-links ul li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #f9f9f9;
    transition: all .5s;
}

.footer-links ul li a:hover {
    background: rgba(128,128,128,.3);
    border-radius: 6.4px;
}

.footer-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 24px 0 24px 0;
}

.footer-logos img {
    max-width: 116px;
    max-height: 99px;
}

.footer-copy-rights {
    margin: 0 auto;
    max-width: 640px;
    font-weight: 500;
    font-size: 13px;
    line-height: 140%;
    text-align: center;
    word-break: keep-all;
    color: #7e7e7e;
    padding: 1.5rem;
}


/* new css refactor */
.section-sc {
    padding: 4.2rem 0;
    position: relative;
    background-color: rgb(247, 247, 247);
}

.section-sc .title-sc {
    padding: 0 0 2rem 1rem;
    display: inline-block;
    transform-origin: left top;
    white-space: nowrap;
    color: rgb(28, 29, 42);
    font-size: 1rem;
    letter-spacing: 0.25em;
    font-weight: bold;
}

.section-sc .title-sc::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 1.4em;
    height: 1px;
    margin-left: 0.5em;
    background-color: currentcolor;
}

#main-section_1 {
    padding-top: 120px;
    margin-top: -120px;
}

.featured-news {
    background: url(../images/backgrounds/fade_caro.png) repeat-x rgb(247, 247, 247);
}

.content-wrapper-article {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.content-wrapper-article a {
    text-decoration: none;
    color: inherit;
}

.content-wrapper-article .wrapper-article {
    width: 30%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    margin: 2rem 1.5625rem;
    text-overflow: ellipsis;
    box-shadow: 0px 4px 16px 0px rgb(0 0 0 / 20%);
}

.content-wrapper-article .wrapper-article:before {
    content: "";
    position: absolute;
    top: -1rem;
    left: 1rem;
    bottom: -1rem;
    right: 1rem;
    border: 1px solid #808080;
}

.content-wrapper-article .wrapper-article .wrapper-article-image-preview {
    width: 100%;
    height: 90%;
    max-width: 145px;
    overflow: hidden;
}

.content-wrapper-article .wrapper-article .wrapper-article-body {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.content-wrapper-article .wrapper-article .wrapper-article-body .article-category {
    position: relative;
    margin: 0px;
    color: rgb(188, 188, 188);
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.content-wrapper-article .wrapper-article .wrapper-article-body .article-title {
    position: relative;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.03em;
    color: rgb(26, 29, 33);
    text-overflow: ellipsis;
    overflow: hidden;
}

.content-wrapper-article .wrapper-article .wrapper-article-body .article-description {
    position: relative;
    margin-top: 8px;
    color: rgb(26, 29, 33);
    font-size: 12px;
    line-height: 1.08333;
    letter-spacing: 0.05em;
    text-overflow: ellipsis;
    overflow: hidden;
}

.content-wrapper-article .wrapper-article .wrapper-article-body .article-read-more a {
    text-decoration: underline;
    color: #c20000;
}


.content-wrapper-category {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: center;
    position: relative;
}

.content-wrapper-category a {
    text-decoration: none;
    color: #808080;
    font-style: italic;
}

.content-wrapper-category .wrapper-category {
    height: 100%;
    width: 30%;
    min-width: 0px;
    max-width: 460px;
    box-sizing: border-box;
    position: relative;
    background-color: rgb(246, 246, 246);
    margin: 2rem 1.5625rem;
    text-overflow: clip;
    box-shadow: 0px 4px 16px 0px rgb(0 0 0 / 20%);
}

.content-wrapper-category .wrapper-category:before {
    content: "";
    position: absolute;
    top: -1rem;
    bottom: -1rem;
    right: 1rem;
    left: 1rem;
    border: 1px solid #808080;
}

.content-wrapper-category .wrapper-category .wrapper-article-image-preview {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.content-wrapper-category .wrapper-category .article-title {
    padding: 10%;
    position: relative;
    text-transform: uppercase;
}


.navbar-expand {
    width: 100%;
    position: absolute;
    background-color: #e0e0e0;
    display: none;
    z-index: 100;
    color: #111;
}

.navbar-expand-header {
    padding: 24px 24px 0 24px;
}

.navbar-expand-header-close {
    padding: 5px;
    background-color: #959595;
    border-radius: 8px
}

.navbar-expand-header-close:hover {
    cursor: pointer;
    background-color: #453c3c;
}

.navbar-logo-switcher-expand a:hover .navbar-logo, .navbar-logo-switcher-expand a:hover {
    fill: red;    
    color: red;
}

.navbar-expand-header a .navbar-logo {
    fill: black;
}

.navbar-expand-header a:hover .navbar-logo, .navbar-expand-header a:hover {
    fill: red;    
    color: red;
}

.navbar-expand-menus {
    display:flex;
    padding: 2rem;
}

.navbar-expand-menus ul {
    list-style: none;
    margin: 1rem auto;
}

.navbar-expand-menus ul li a {
    display: inline-block;
    height: 1.5rem;
    line-height: 1.5rem;
    cursor: pointer;
    justify-content: center;
    padding: 0 2rem 0 2rem;
    color: #111;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .08em;
}

.navbar-expand-menus ul li a:hover {
    cursor: pointer;
    background-color: #453c3c;
    border-radius: 10px;
}